<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>James' Juice Shop</title>
    <link rel="stylesheet" href="/public/style.css">
</head>
<body>
    <footer>
        &copy; 2023, James Milne jmilne8346@conestogac.on.ca
    </footer>
</body>
</html>